<div id="contact"
        class="section-container" 
        >
        <div 
            class='contact-content-container'
            fxLayout
            fxLayout='row wrap'
            fxLayoutAlign.xs='start start'
            fxLayoutAlign.sm='start start'
            fxLayoutAlign.md='start start'
            fxLayoutAlign.gt-md='center start'>
            <div 
                class='contact-title-container'
                fxLayoutAlign.xs='start start'
                fxLayoutAlign.sm='start start'
                fxLayoutAlign.md='start start'
                fxLayoutAlign.gt-md='center start'>
                <h3>CONTACT</h3>
            </div>
            <div class='contact-data-container'>
                <h4>Name:</h4>
                <p>Gerardo Mijares</p>
            </div>
            <div class='contact-data-container'>
                <h4>Email:</h4>
                <p>gerardo.mijares@lapsusdev.com</p>
            </div>
            <div class='contact-data-container'>
                <h4>More online:</h4>
                <p>LinkedIn, GitHub, CodePen</p>
            </div>
            <div class='contact-data-container'>
                <h4>Location:</h4>
                <p>Monterrey MX</p>
            </div>
        </div>
    </div>