<div id="contact"
        class="section-container" 
        >
        <div 
            class='contact-content-container'
            fxLayout
            fxLayout='row wrap'
            fxLayoutAlign.xs='start start'
            fxLayoutAlign.sm='start start'
            fxLayoutAlign.md='start start'
            fxLayoutAlign.gt-md='center start'>
            <div class='contact-data-container'>
                <h4>More online:</h4>
                <p>&nbsp;&nbsp; <a target='_blank' href="https://www.linkedin.com/in/gerardomijares/">LinkedIn</a></p>
                <p>&nbsp;&nbsp; <a target='_blank' href="https://github.com/gerarddo">GitHub</a></p>
                <p>&nbsp;&nbsp; <a target='_blank' href="https://www.youtube.com/channel/UCZY8gu26CC3tc1WpA1S8nWQ?view_as=subscriber">YouTube</a></p>
                <!-- <p>&nbsp;&nbsp; <a href="">CodePen</a></p> -->
            </div>
            <div class='contact-data-container'>
                <h4>Email:</h4>
                <p>&nbsp;&nbsp; A00818999</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@itesm.mx</p>
            </div>
            <div class='contact-data-container'>
                <h4>Name:</h4>
                <p>&nbsp;&nbsp; Gerardo Mijares</p>
            </div>

            <div class='contact-data-container'>
                <h4>Location:</h4>
                <p>&nbsp;&nbsp; Monterrey MX</p>
            </div>
        </div>
    </div>