
<div 
    class='project-list'
    fxLayout
    fxLayoutAlign="center"
    fxLayout="row wrap" 
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    [style.height.px]="myInnerHeight"
    >

    <!-- <cdk-virtual-scroll-viewport itemSize="200" class="viewport"> -->
            <!--TODO: Add material card-->

            <!-- <cdk-virtual-scroll-viewport [itemSize]="1000"> -->
                    <app-project 
                    fxFlex.gt-sm = "50%"
                    *ngFor="let project of projects" 
                    [project]="project"></app-project>
            <!-- </cdk-virtual-scroll-viewport> -->
        <!-- </cdk-virtual-scroll-viewport> -->

</div>


