
<div 
  id='portfolio' 
  class="diagonal-split-background" 
  fxLayout 
  fxLayout='row wrap' 
  fxLayoutAlign='center start' 
  fxFill>


  <app-menu fxFlex='100%'></app-menu>

  <router-outlet></router-outlet>
    <!-- <div class='obscure-layout inactive-layout'></div> -->
    

</div>





<!-- .flex-wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #70263a;
  } -->
<!-- <div id="outer">
        <div id="inner_fixed">
          I have a fixed height
        </div>
      
        <div id="inner_remaining">
          I take up the remaining height
        </div>
      </div>
       -->

<!-- <app-project-list></app-project-list> -->
