#navbar {
    // z-index: 3;
    position: fixed;
    display:flex;
    flex-wrap: wrap;
    .nav {
        // flex: 1;
        // padding: 10px;
        color: white;
        text-align: center; 
    }
    a {
        color: white;
        text-decoration: none;
    } 
}

#navbar {
    background-color: gray;
    display: block;
    // height: 100px;
}

@media (min-width: 921px) {
    #navbar {
        margin-top: -130px;
        right: 190px;
        // height: 60px;
        width: 220px;
        padding: 10px;
        

        // background-color: rgba(0,0,0,0);
    }
}

// @media (max-width: 920px) {
//     #navbar {
//         right: 0;
//         left: 0;
//         bottom: 0;
//         // background-color: rgba(51,51,51,1);
//     }

// }