<div id="navbar">


    <a routerLink="/" class='nav'>
        <p>HOME</p>
    </a>
    <a routerLink="/portfolio" class='nav'>
        <p>PORTFOLIO</p>
    </a>
    <ul>
        <li routerLink="/portfolio/web" >WEB</li>
        <li routerLink="/portfolio/academic">ACADEMIC</li>
        <li routerLink="/portfolio/scientific">SCIENTIFIC</li>
    </ul>
    <!-- <a href="/contact" class='nav'>
        <p>CONTACT</p>
    </a>
    <a href="/about" class='nav'>
        <p>ABOUT</p>
    </a> -->
</div>