


<!-- https://alligator.io/angular/flex-layout/ -->
<!-- https://codinglatte.com/posts/angular/angular-flex-layout-introduction/ -->
<!-- https://github.com/angular/flex-layout/wiki/API-Documentation -->

<div 
    class='app-container'
    fxLayout
    fxLayout = 'column'
    fxFill>
        <app-header></app-header>
        <!-- <app-home></app-home> -->
        
        <div fxFlex>
            <router-outlet ></router-outlet>
        </div>

        
    <app-footer></app-footer>        

</div>
