<div 
    fxLayout
    fxFill
    class="lapsusdev-velvet" 
    id="certs">
    <div 
        class="certs-info-container"  
        fxLayout="column" 
        fxLayoutAlign='space-evenly start'
        >

        <div class="cert-info-cell" *ngFor="let cert of certs">
            <h1><a href="{{cert.emitter_url}}" target='_blank'>{{cert.emitter_name}}</a></h1>
            <ul>
                <li *ngFor="let emitted of cert.emitted"><a href="{{emitted.url}}" target='_blank'>{{emitted.name}}</a></li>
            </ul>
        </div>
    </div>
</div>