#certs {
    // height: 100%;
    display: block;
    .certs-info-container {
        padding: 20px;
        color: white;
        .certs-info-cell {
            padding: 20px;
            li {
                // width: 100%;
                // display: block;
                color: rgb(200,200,200)
            }
            a {
                text-decoration: underline;
                color: rgb(200,200,200)
            }
        }
    }
}

