
<div 
    id='portfolio-menu' 
    class="portfolio-menu-content-container" 
    fxLayout
    fxLayout='row wrap'
    fxLayoutAlign='center center'>

    <div 
        class="portfolio-menu-btns-wrapper"
        fxLayout
        fxLayout='row wrap'
        fxLayoutAlign='center start'
        >

        <div 
            class='portfolio-menu-btn'
            >
            <span
            class="portfolio-menu-btn-content-container"
            routerLink="/portfolio/web"  
            routerLinkActive='active-menu-btn'>
                WEB
            </span>
        </div>

        <div 
            class='portfolio-menu-btn'
            >
            <span
            class="portfolio-menu-btn-content-container"
            routerLink="/portfolio/scientific"  
            routerLinkActive='active-menu-btn'>
                SCIENTIFIC
            </span>
        </div>


        <div 
            class='portfolio-menu-btn'
            >
            <span
            class="portfolio-menu-btn-content-container"
            routerLink="/portfolio/theoric"  
            routerLinkActive='active-menu-btn'>
                THEORIC
            </span>
        </div>


    </div>
    
</div>