<section class="section-container"     
    id="about"
    fxLayout
    fxLayoutAlign="end"

>
    <div class="about-content-container"
    fxLayout
    fxLayoutAlign="center start"
    fxLayout.xl="row wrap"
    fxLayout.lg="row wrap"
    fxLayout.md="column"
    fxLayout.sm="row wrap"
    fxLayout.xs="column">
        <div class="about-info-container" fxFlex="100%">
            <p>
                Hello, I'm 
                <a href="https://www.linkedin.com/in/gerardomijares/" target="_blank">
                    Gerardo Mijares
                </a>
            </p>
            <span class="break-line"></span>
            <p>
                I'm aiming to develop full-stack software with a focus on data-driven applications. This means my areas of interest go from full-stack web development to statistical learning algorithms implementation and data visualization.
            </p>
        </div>
        <div class="about-whatido-container" fxFlex="50%">
            <h3>What I Do</h3>
            <ul>
                <li>
                    <p>I have professional experience with</p>
                    <ul>
                        <li>HTML / SCSS / Javascript / Typescript</li>
                        <li>PHP / Apache / MySQL / WordPress</li>
                        <li>.NET / C# / SQL Server</li>
                        <li>MongoDB / Express / Angular 5+ / NodeJS</li>
                        <li>Python / Pandas / Numpy </li>
                        <li>APIs (Consumption & Creation)</li>
                    </ul>
                </li>
                <li>
                    <p>I've developed software in the industries of</p>
                    <ul>
                        <li>eCommerce</li>
                        <li>Supply chain and logistics</li>
                        <li>Telehealth</li>
                        <li>Online education</li>
                    </ul>
                </li>
                <li>
                    <p>My scientific computing skills are</p>
                    <ul>
                        <li>Matlab / Scilab / Julia </li>
                        <li>Machine Learning </li>
                        <li>Data Processing and Visualization</li>
                        <li>Analysis and computation of LDEs</li>
                        <li>
                            Optimization techniques:
                            <ul>
                                <li>Meta-heuristic</li>
                                <li>Gradient descent</li>
                            </ul>
                        </li>
                        <li>Simulation of: 
                            <ul>
                                <li>Queue theory </li>
                                <li>Motecarlo</li>
                                <li>Physical systems</li>
                            </ul>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="about-interesting-container" fxFlex="50%">
            <h3>Other interests:</h3>
            <ul>
                <li>
                    <p>Solar energy as in:</p>
                    <ul>
                        <li>Termosolar stoves</li>
                        <li>Termosolar heaters</li>
                        <li>Solar panels</li>
                    </ul>
                </li>
                <li>
                    <p>Finances as in:</p>
                    <ul>
                        <li>Algorithmic trading</li>
                        <li>Personal finance</li>
                        <li>Market tendencies and forecasting</li>
                    </ul>
                </li>
                <li>
                    <p>Signal analysis as in:</p>
                    <ul>
                        <li>Digital signal processing</li>
                        <li>Image processing</li>
                        <li>Speech recognition</li>
                        <li>Computer vision</li>
                    </ul>
                </li>
                <li>
                    <p>Cannabis industry as in:</p>
                    <ul>
                        <li>Cannabinoids extraction</li>
                        <li>Laboratory analysis</li>
                        <li>Compound characterization</li>
                        <li>Compliance testing</li>
                        <li>Edibles production</li>
                    </ul>
                </li>
            </ul>
            <!-- <ul>
                <li><a href="http://www.autodidacts.io/host-a-ghost-blog-on-heroku/" target="_blank">Host a Free Ghost Blog on Heroku</a></li>
                <li><a href="http://blog.robertonodi.me/node-authentication-series-email-and-password/" target="_blank">Passport Authentication</a></li>
                <li><a href="https://medium.com/@hellotunmbi/how-to-deploy-angular-application-to-heroku-1d56e09c5147">Deploy Angular App to Heroku</a></li>
                <li><a href="https://scotch.io/tutorials/deploying-a-node-app-to-digital-ocean#clone-the-app-on-the-server" target="_blank">Deploy Node App on DigitalOcean VPS</a></li>
                <li><a href="https://www.dataquest.io/blog/build-a-data-science-portfolio/" target="_blank">Tips On Data Science Portfolios</a></li>
                <li><a href="https://github.com/d3/d3/wiki/Tutorials" target="_blank">D3 Tutorials</a></li>
                <li><a href="https://blog.kissmetrics.com/open-graph-meta-tags/" target="_blank">Open Graph Meta Tags</a></li>
                <li><a href="https://www.abeautifulsite.net/how-to-upgrade-or-downgrade-nodejs-using-npm" target="_blank">Easily downgrade NodeJS</a></li>
                <li><a href="http://www.codetodd.com/creating-a-resizable-component-in-angular2/" target="_blank">Resizable Angular 5 components</a></li>
                <li><a href="http://www.imagesmaller.com/" target="_blank">Optimize images</a></li>
                <li><a href="https://medium.com/of-all-things-tech-progress/starting-with-authentication-a-tutorial-with-node-js-and-mongodb-25d524ca0359" target="_blank">Authentication</a></li>
            </ul> -->
        </div>
    </div>
    
</section>