
<div 
    id='certs' 
    class="section-container lapsusdev-crystal" 
    fxFill>

    <div 
        class='certs-content-container'
        fxLayout
        fxLayout='row wrap'
        fxLayoutAlign='space-evenly start'>
        
        <div>
            <h4>Udemy</h4>
            <ul>
                <li>The web developer bootcamp</li>
                <li>Become a good matlab programmer in 30 days</li>
            </ul>
        </div>

        <div>
            <h4>Northware</h4>
            <ul>
                <li>SQL Beginner</li>
                <li>SQL Intermediate</li>
                <li>SQL Advanced</li>
            </ul>
        </div>


        <div>
            <h4>CeroUno</h4>
            <ul>
                <li>Cibersecurity</li>
            </ul>
        </div>
        <br>
        <br>


    </div>
</div>