<div id="footer" fxFill>
        <div id="contact"
        class="section-container" 
        >
        <div 
            class='contact-content-container'
            fxLayout
            fxLayout='row wrap'
            fxLayoutAlign.xs='start start'
            fxLayoutAlign.sm='start start'
            fxLayoutAlign.md='start start'
            fxLayoutAlign.gt-md='center start'>
            <div 
                class='contact-title-container'
                fxLayoutAlign.xs='start start'
                fxLayoutAlign.sm='start start'
                fxLayoutAlign.md='start start'
                fxLayoutAlign.gt-md='center start'>
                <h3>CONTACT</h3>
            </div>
            <div class='contact-data-container'>
                <h4>Name:</h4>
                <p>Gerardo Mijares</p>
            </div>
            <div class='contact-data-container'>
                <h4>Email:</h4>
                <p>gerardo.mijares@lapsusdev.com</p>
            </div>
            <div class='contact-data-container'>
                <h4>More online:</h4>
                <p>LinkedIn, GitHub, CodePen</p>
            </div>
            <div class='contact-data-container'>
                <h4>Location:</h4>
                <p>Monterrey MX</p>
            </div>
        </div>
    </div>
    <div 
        id='certs' 
        class="section-container" 
        >
        
        <div 
            class='certs-content-container'
            fxLayout
            fxLayout='row wrap'
            fxLayoutAlign.xs='start start'
            fxLayoutAlign.sm='start start'
            fxLayoutAlign.md='start start'
            fxLayoutAlign.gt-md='center start'>
            <div 
                class='certs-title-container'
                fxLayoutAlign.xs='start start'
                fxLayoutAlign.sm='start start'
                fxLayoutAlign.md='start start'
                fxLayoutAlign.gt-md='center start'>
                <h3>CERTIFICATES</h3>
            </div>
            <div class='certs-list-container'>
                <h4>Udemy</h4>
                <ul>
                    <li>The web developer bootcamp</li>
                    <li>Become a good matlab programmer in 30 days</li>
                </ul>
            </div>
    
            <div class='certs-list-container'>
                <h4>Northware</h4>
                <ul>
                    <li>SQL Beginner</li>
                    <li>SQL Intermediate</li>
                    <li>SQL Advanced</li>
                </ul>
            </div>
    
    
            <div class='certs-list-container'>
                <h4>CeroUno</h4>
                <ul>
                    <li>Cibersecurity</li>
                </ul>
            </div>
    
            <div class='certs-list-container'>
                <h4>Other</h4>
                <ul>
                    <li>Curriculum Vitae</li>
                </ul>
            </div>
            <br>
            <br>
    
    
        </div>
    </div>
</div>
