#portfolio-project {
    padding: 20px;
    .portfolio-project-container {
        padding: 30px; // tal vez manipular este padding con @media
        background-color: #333333;
        border-radius: 7px;
        
        .project-title,
        .project-short-description {
            text-align: center;
        }
        .project-title {
            color: white;
        }
        .project-short-description  {
            color: rgb(150,150,150);
            font-style: oblique;
        }
        color: white;

        .project-description {
            font-size: 1.1em;
            text-align: center;
        }
        .portfolio-project-img-container {
            display: block;
            // padding: 10px;
            // border-radius: 10px;
        }
    }
}


