<div *ngIf="project" id='portfolio-project' >
    <div class='portfolio-project-container'>
        

        <div class='portfolio-project-img-container'>
            <a class='project-link' href="{{project.url}}" target='_blank'>
                <app-image imageUrl={{project.img}}></app-image>
            </a>
        </div>
        <a class='project-link' href="{{project.url}}" target='_blank'>
            <h2 class='project-title'>{{project.name | uppercase}} <fa-icon class='project-link-icon' [icon]="faExternalLinkAlt"></fa-icon></h2>
        </a>
        <h3 class='project-short-description'>{{project.short_description}}</h3>

        <p class='project-description'>{{project.description}}</p>
        <p class='project-repo'>
            Check out the repo:
            <a href="{{project.repo}}" target='_blank'>
                {{project.repo_name}}
            </a>
        
        </p>
        <div 
            class="portfolio-project-specs-container"
            fxLayout
            fxLayout='row wrap'
            fxLayoutAlign='center start'>

            <div 
                class="portfolio-project-implements-list-container"
                fxFlex.gt-xs='50%'
                fxFlex.xs='100%'>
                <h3>Implements:</h3>
                <ul>
                    <li
                        *ngFor="let implementation of project.implements">
                        {{implementation}}
                    </li>

                </ul>
            </div>
            <div 
                class="portfolio-project-stack-list-container"
                fxFlex.gt-xs='50%'
                fxFlex.xs='100%'>
                <h3>Stack:</h3>
                <ul>
                    <li
                        *ngFor="let tech of project.stack">
                        {{tech}}
                    </li>
                </ul>
            </div>

        </div>
        <!-- <div><span>repo: </span>{{project.repo}}</div>
        <div><span>stack: </span>{{project.stack}}</div>
        <div><span>url: </span>{{project.url}}</div> -->
          
    </div>

</div>